@model IEnumerable<covid_tracker.Data.Models.DataSet>

@{
    ViewData["Title"] = "Index";
}

<h1>You Data</h1>

<div class="row">
    <div class="col-md-12">
        <h3>Infectivity</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <label for="IsConfirmedCheck">Are you a confirmed coronavirus patient?</label>
            <input type="checkbox" value="@User.Identity.IsAuthenticated" />
        </form>
    </div>
</div>

<p>
    <a asp-action="Upload">Upload New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
